@model IEnumerable<Enrollement>

<div class="container mt-5 flex-grow-1">
    <div class="mt-5">
        <div class="row p-4 border border-secondary rounded-1">
            <div class="col-md-8 d-flex flex-wrap">
                <img src="/images/courses/course.ImageUrl" width="100" height="100" />
                <div class="details ms-2">
                    <p class="mb-0 text-truncate">course.Name</p>
                    <p class="mb-0">By course.InstructorName</p>
                </div>
            </div>
            <div class="col-md-4 mt-2 d-flex justify-content-between align-items-center gap-1">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Review</a>
                    <ul class="dropdown-menu small text-warning p-1" aria-labelledby="navbarDropdown">
                        @for(var i = 0; i < 5; i++)
                        {
                            <li class="dropdown-item">
                                @for(var j = 0; j <= i; j++)
                                {
                                    <i class="bi-star-fill text-warning"></i>
                                }
                            </li>
                        }

                    </ul>
                </div>
                <a class="btn btn-success ">Continue Learning <i class="bi bi-caret-right-fill"></i></a>
                <a class="border border-success rounded-2 p-1 text-center"><i class="bi bi-check-lg text-success"></i></a>
            </div>
        </div>
    </div>
</div>