@inject UserManager<ApplicationUser> UserManager

@model ApplicationUser
<div class="container p-5">
    <a asp-controller="Enrollment" asp-action="ListUserEnrolledCourses" asp-route-userId="@UserManager.GetUserId(User)" class="btn btn-outline-primary mb-2">Show your Courses</a>
    <h2 class="mb-5 mx-auto">Manage your account</h2>
    <form asp-action="Profile" method="post" class=" mx-auto">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control" placeholder="" readonly />
            <label asp-for="UserName" class="form-label "></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder="" readonly />
            <label asp-for="Email" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" placeholder="" disabled />
            <label asp-for="FirstName" class="form-label"></label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" placeholder="" disabled />
            <label asp-for="LastName" class="form-label"></label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="PhoneNumber" class="form-control" placeholder="" disabled />
            <label asp-for="PhoneNumber" class="form-label"></label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center gap-5">
            <a id ="edit-btn" class="w-75 btn btn-lg btn-dark">Edit</a>
            <button  type="submit" class="w-75 btn btn-lg btn-primary">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    
    <script>
        console.log(document.getElementById('edit-btn'));
        document.getElementById('edit-btn').addEventListener('click', () => {
            console.log("HERE");
            const inputs = document.querySelectorAll('input');
            for (const input of inputs) {
                console.log(input)
                input.disabled = false;
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}