@model UserLoginViewModel

<div class="container-fluid h-75">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-md-12 card p-0 shadow rounded-18">
            <div class="card-header bg-success w-100">
                <h3 class="text-light text-center">Login</h3>
            </div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="text-danger fs-5" asp-validation-summary="All"></div>
                    <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl" />
                    <div class="form-floating mb-4">
                        <input class="form-control rounded-8" asp-for="Email" placeholder="abc@mymail.com" />
                        <label asp-for="Email"></label>

                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control rounded-8" asp-for="Password" placeholder="" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="w-100">
                        <button class="w-100 btn btn-success d-block rounded-8 mb-2" type="submit">Log In</button>
                        <a href="#">Create account!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>