@model int
<a class="btn btn-outline-dark" asp-controller="Cart" asp-action="Index">
    <i class="bi-cart-fill me-1"></i>
    Cart
    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartSummaryCount">@Model</span>
</a>
