@model IEnumerable<Course>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach(var course in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@course.FieldOfStudy</div>
                        <!-- Product image-->
                        <img class="card-img-top" height="200" src="/images/courses/@course.ImageUrl" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@course.Name</h5>
                                <!-- Course Instructor-->
                                <h6 class="text-muted">@course.InstructorName</h6>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                @course.Price.ToString("C2")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="AddToCart('/cart/addtocart?courseId=@course.Id')">Add To Cart</a></div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        function AddToCart(url){
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Course Added to Cart",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        var cartCountElement = $('#cartSummaryCount'); 
                        var currentCount = parseInt(cartCountElement.text());
                        cartCountElement.text(currentCount + 1);

                    } else {
                        Swal.fire(
                            'Error!',
                            'This course is already in your cart!',
                            'error'
                        );
                    }
                }
            });
        }
        
    </script>
}


 